#canvas-container {
	position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
canvas{
	position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.mybtn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.mybtn-secondary:not(:disabled):not(.disabled).active, .mybtn-secondary:not(:disabled):not(.disabled):active, .show>.mybtn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #17a2b8;
    border-color: #4e555b;
}

@media screen and ( max-width:500px) {
    /*　画面サイズが500pxまではここを読み込む　*/
    /* スマホ表示 */
    #writeButton{
        display: none;
    }
}

@media screen and ( min-width:501px){
    /*　画面サイズが501pxからはここを読み込む　*/
    /* PC表示 */

    #choices-mobile{
        display: none;
    }
}