
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head
	th:replace="layout :: common_layout(title = '課題一覧画面', scripts = ~{::script}, links = ~{::link})">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.4.0/jquery.slim.min.js}"
	type="text/javascript" charset="utf-8"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"
	type="text/javascript" charset="utf-8"></script>

</head>
<body>

	<div th:replace="layout :: header"></div>

	<h2>■課題一覧</h2>
	<div class="able-responsive-md container">
<!-- 
		<form th:action="@{/teacher/task/addsearch}"
			th:object="${taskForm}" method="post">
			<div class="form-row">
				<div class="form-group col-md-9">
					<label for="searchWord" class="col-form-label">検索ワード</label> <input
						type="text" class="form-control" name="searchWord"
						placeholder="検索ワード" aria-label="検索ワード" />
				</div>
				<div class="form-group col-md-offset-1 col-md-2">
					<label for="searchbtn" class="col-form-label"> </label> <input
						type="submit" name="searchbtn" class="btn btn-info btn-block"
						th:value="検索">
				</div>
			</div>
		</form>
-->
		<table class="table table-hover table-striped">
			<thead class="thead-dark">
				<tr class="row">
					<th class="col-md-3 text-nowrap" scope="col" th:text="タイトル">タイトル</th>
					<th class="col-md-5 text-nowrap" scope="col" th:text="説明文">説明文</th>
					<th class="col-md-1" scope="col" th:text="進捗"></th>
					<th class="col-md-1" scope="col" th:text="回答"></th>
					<th class="col-md-1" scope="col" th:text="編集"></th>
					<th class="col-md-1" scope="col" th:text="削除"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="row" th:each="task : ${tasks}">
					<td class="col-md-3" th:text="${task.title}">タイトル</td>
					<td class="col-md-5" th:text="${task.description}">説明文</td>
					<td class="col-md-1">
						<form th:action="@{/teacher/task/submission-list}" method="post">
							<input type="submit" name="form" th:value="進捗" /> <input
								type="hidden" name="id" th:value="${task.id}" />
						</form>
					</td>
					<td class="col-md-1">
						<form th:action="@{/teacher/task/question-confirm}" method="post">
							<input type="submit" name="form" th:value="回答" /> <input
								type="hidden" name="id" th:value="${task.id}" />
						</form>
					</td>
					<td class="col-md-1">
						<form th:action="@{/teacher/task/edit}" method="post">
							<input type="submit" name="form" th:value="編集" /> <input
								type="hidden" name="id" th:value="${task.id}" />
						</form>
					</td>
					<td class="col-md-1">
						<form th:action="@{/teacher/task/delete}" method="post">
							<input type="submit" name="form" th:value="削除" /> <input
								type="hidden" name="id" th:value="${task.id}" />
						</form>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="layout :: footer"></div>

</body>
</html>
