
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>課題提出一覧画面</title>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}" />
<script th:src="@{/webjars/jquery/3.4.0/jquery.slim.min.js}"
	type="text/javascript" charset="utf-8"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.bundle.min.js}"
	type="text/javascript" charset="utf-8"></script>


</head>
<body>

	<div th:replace="layout :: header"></div>

	<h2>■課題提出一覧</h2>
	<div class="able-responsive-md container">
		<table class="table table-hover table-striped">
			<thead class="thead-dark">
				<tr class="row">
					<th class="col-md-3 text-nowrap" scope="col" th:text="ユーザーID">ユーザーID</th>
					<th class="col-md-3 text-nowrap" scope="col" th:text="回答数">回答数</th>
					<th class="col-md-3 text-nowrap" scope="col" th:text="正解率">正解率</th>
					<th class="col-md-3 text-nowrap" scope="col" th:text="提出">提出</th>
				</tr>
			</thead>
			<tbody>
				<tr class="row" th:each="task : ${submissionTasks}">
					<td class="col-md-3" th:text="${task.userId}">ユーザーID</td>
					<td class="col-md-3" th:text="${task.answeredCnt + '/' + task.questionCnt}">回答数</td>
					<td class="col-md-3" th:text="${task.correctRate + '%'}">正解率</td>
					<td class="col-md-3" th:text="${task.answeredFlg} ? '済' : '未'"></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:replace="layout :: footer"></div>

</body>
</html>
