
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head th:replace="layout :: common_layout(title = 'パスワード変更画面', scripts = ~{::script}, links = ~{::link})">
</head>
<body>

<div th:replace="layout :: header"></div>

<h2>■パスワード変更</h2>
<div class="container-fluid no-gutters pb-5">
  <div th:if="${errorMsg}" class="alert alert-danger">
    <p th:text="${errorMsg}">error message.</p>
  </div>
  <form th:action="@{/common/setting/password}" th:object="${selfSettingForm}" method="post">
    <div class="form-row">
        <div class="form-group col-12 col-md-12">
          <label for="nowPassword" class="col-form-label">現在のパスワード</label>
          <input type="password" id="nowPassword" class="form-control" name="nowPassword" th:value="*{nowPassword}" aria-label="現在のパスワード" th:errorclass="error-input" />
        </div>
        <span th:if="${#fields.hasErrors('nowPassword')}" th:errors="*{nowPassword}" class="error-messages">error!</span>
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-md-12">
            <label for="newPassword" class="col-form-label">新しいパスワード</label>
                <input type="password" id="newPassword" class="form-control" name="newPassword" th:value="*{newPassword}" aria-label="パスワード" th:errorclass="error-input" />
        </div>
        <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="error-messages">error!</span>
    </div>

    <div class="form-row">
        <div class="form-group col-12 col-md-12">
            <label for="newConfirmPassword" class="col-form-label">新しいパスワード(確認)</label>
                <input type="password" id="newConfirmPassword" class="form-control" name="newConfirmPassword" th:value="*{newConfirmPassword}" aria-label="パスワード" th:errorclass="error-input" />
        </div>
        <span th:if="${#fields.hasErrors('newConfirmPassword')}" th:errors="*{newConfirmPassword}" class="error-messages">error!</span>
    </div>
    
    <div class="form-row">
        <div class="col-12 col-md-12">
            <input type="submit" class="btn btn-info btn-block" th:value="更新">
        </div>
    </div>
    </form>
</div>
 
<div th:replace="layout :: footer"></div>
  
</body>
</html>
