# スキーマ作成の出力：org.hibernate.SQL
# JPAベースのアプリでは以下無効にしないとshema.sqlが動かない？
# Hibernateの自動データベース初期化機能：spring.jpa.hibernate.ddl-auto
# DBベンダ名称？：spring.datasource.platform
# SＱＬファイルに日本語を使う：spring.datasource.sql-script-encoding=UTF-8
# JDBCデータソースurlの後方に?useUnicode=true&characterEncoding=utf8を付与することでUnicode(文字)を使ってUTF-8(符号化)を指定しないと文字化ける

spring:
  batch:
    # db initialize enable(always/embedded/never)
    initialize-schema: always
  flyway:
#    enabled: true
#    url: jdbc:h2:mem:algolearn;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=TRUE
#    username: algolearnadmin
#    password:
    locations: classpath:db/migration, classpath:db/data
  h2:
    console:
      settings:
        web-allow-others: false
      enabled: true
  jpa:
#    database-platforn: org.hibernate.dialect.H2Dialect
    hibernate:
#      dialect: org.hibernate.dialect.H2Dialect
# none:何もしない、validate:検証（変更なし）、update：作成＋既存データ変更なし
# create: 作成＋既存データ削除、create-drop：作成＋終了時に削除
      ddl-auto: update
  datasource:
#    initialization-mode: always
    url: ${EMS_DATABASE_URL}
#    url: jdbc:h2:mem:algolearn
#   url: jdbc:h2:file:./h2db/sampledb2
    username: ${EMS_DATABASE_USERNAME}
    password: ${EMS_DATABASE_PASSWORD}
#    username: sa
#   password:
#    driverClassName: com.mysql.cj.jdbc.Driver
    # platform data(product/develop/test)
    platform: test

ap:
  question:
    imagefilepath: ${AP_QUESTION_IMAGEPATH}

server:
#  charactercode: utf-8
  charactercode: SJIS


#logging:
#  level.root: TRACE
#    org.hibernate: TRACE 
#      springframework.web: TRACE

#logging:
#  file.name: logfile
#  level: 
#    root: INFO
#    org:
#      springframework.web: INFO
#      hibernate:
#        SQL: INFO
#        type.descriptor.sql.BasicBinder: INFO
#  jpa:
#    properties:
#      hibernate:
#        dialect:
#          supportsSequences: false
#        id:
#          new_generator_mappings: false

#datasource:
#  base:
#    driver: org.h2.Driver
#    username: algolearnadmin
#    password: algolearnpass
#    url: jdbc:h2:./h2db/algolearn
#  list:
#  - name: mariadb
#    driver: org.mariadb.jdbc.Driver
#    username: algolearnadmin
#    password: algolearnpass
#    url: jdbc:mysql://localhost/algolearn

# CREATE DATABASE algolearn character set 'utf8';
# CREATE TABLE t_task(id char(6),title varchar(100), primary key(id)) character set 'utf8';
# GRANT ALL PRIVILEGES ON algolearn.* TO 'algolearnadmin'@'localhost' IDENTIFIED BY 'algolearnpass';


# h2database setting
#database.h2.name=h2
#database.h2.username=algolearnadmin
#database.h2.password=algolearnpass
#database.h2.url=jdbc:h2:./h2db/algolearn
#database.h2.driver=org.h2.Driver
# mariadb setting
#database.mariadb.name=mariadb
#database.mariadb.username=algolearnadmin
#database.mariadb.password=algolearnpass
#database.mariadb.url=jdbc:mariadb://localhost:3306/algolearn
#database.mariadb.driver=org.mariadb.jdbc.Driver