<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: common_layout(title = '自習回答画面', scripts = ~{::script}, links = ~{::link})">
 </head>
<body>

<div th:replace="layout :: header"></div>

<h2>■自習</h2>
<div class="able-responsive-md container">
<form th:action="@{/student/selfstudy/question_confirm}" th:object="${selfStudyQuestionForm}"  method="post">
  <div class="form-row">
    <div class="form-group col-md-4">
      <h4 th:text="*{questionInfoStr}"></h4>
    </div>
    <div class="form-group col-md-8">
      <h4 th:text="*{questionFieldInfoStr}"></h4>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-2">
      <input type="button" id="btn_pen_thin" class="btn-outline-info rounded-circle p-0" onclick="canvas_pen_thin()" value=" 細 ">
      <input type="button" id="btn_pen_bold" class="btn-outline-info rounded-circle p-0" onclick="canvas_pen_bold()" value=" 太 ">
      <font id="font_bold_pt"></font>
    </div>
    <div class="form-group col-md-2">
      <input type="button" id="btn_pen_black" class="btn-outline-info rounded-circle p-0" onclick="change_pen_color('black')" value=" 黒 ">
      <input type="button" id="btn_pen_blue" class="btn-outline-info rounded-circle p-0" onclick="change_pen_color('blue')" value=" 青 ">
      <input type="button" id="btn_pen_red" class="btn-outline-info rounded-circle p-0" onclick="change_pen_color('red')" value=" 赤 ">
    </div>
    <div class="form-group col-md-1">
      <input type="button" id="btn_canvas_clear" class="btn-outline-info rounded-circle p-0" onclick="canvas_init()" value=" 消 ">
    </div>
  </div>
  
  <div class="form-row">
    <div id="canvas-container" class="form-group col-md-12" >
      <canvas id="canvas">
	    <img id="image" th:src="@{'/images/question/' + *{imagePath}}" alt="問題画像" class="border border-info" width=100% border=10>
      </canvas>
	  <input type="hidden" name="id" th:value="*{id}">
	  <input type="hidden" name="selectQuestionNumber" th:value="*{selectQuestionNumber}">
	</div>
	<div th:each="questionId : *{questionList}">
      <input type="hidden" name="questionList" th:value="${questionId}" />
    </div>
  </div>
  
  
  <div class="form-row mt-5">
    <div class="form-check form-check-inline col-md-3 m-0 p-0" th:each="answerItem : ${answerSelectedItems}">
      <input class="form-check-input" type="radio" name="answer" th:id="${answerItem.key}" th:value="${answerItem.key}" th:checked="${answerItem.key.equals(selfStudyQuestionForm.answer)}" >
      <label class="form-check-label" th:text="${answerItem.value}" th:for="${answerItem.key}"></label>
    </div>
  </div>
  
  <div class="form-row  mt-5">
  	<div class="form-group col-md-12">
      <input type="submit" class="btn btn-info btn-block" value="回答">
    </div>
  </div>
  </form>
</div>

<script th:inline="javascript">
/*<![CDATA[*/
function change_pen_color(color) {
  let ctx = document.getElementById('canvas').getContext('2d');
  ctx.strokeStyle = color;
  if(color == "black") {
    document.getElementById('btn_pen_black').style.color="#FFFFFF";
    document.getElementById('btn_pen_blue').style.color="#000000";
    document.getElementById('btn_pen_red').style.color="#000000";
    document.getElementById('btn_pen_black').style.backgroundColor="#000080";
    document.getElementById('btn_pen_blue').style.backgroundColor="#b0c4de";
    document.getElementById('btn_pen_red').style.backgroundColor="#b0c4de";
  } else if(color == "blue") {
    document.getElementById('btn_pen_black').style.color="#000000";
    document.getElementById('btn_pen_blue').style.color="#FFFFFF";
    document.getElementById('btn_pen_red').style.color="#000000";
    document.getElementById('btn_pen_black').style.backgroundColor="#b0c4de";
    document.getElementById('btn_pen_blue').style.backgroundColor="#000080";
    document.getElementById('btn_pen_red').style.backgroundColor="#b0c4de";
  } else if(color == "red") {
    document.getElementById('btn_pen_black').style.color="#000000";
    document.getElementById('btn_pen_blue').style.color="#000000";
    document.getElementById('btn_pen_red').style.color="#FFFFFF";
    document.getElementById('btn_pen_black').style.backgroundColor="#b0c4de";
    document.getElementById('btn_pen_blue').style.backgroundColor="#b0c4de";
    document.getElementById('btn_pen_red').style.backgroundColor="#000080";
  }
}
	
function canvas_init() {
  let container = document.getElementById('canvas-container');
  let canvas = document.getElementById('canvas');
  let ctx = canvas.getContext('2d');
  let image = new Image(); 
  image.src=document.getElementById('image').src;
  canvas.width = container.clientWidth;
  canvas.height = image.height*(canvas.width/image.width);
  ctx.drawImage(image, 0, 0, image.width, image.height,
  		 0, 0, canvas.width, image.height*(canvas.width/image.width));
  ctx.rect(0, 0, canvas.width, canvas.height);
  ctx.strokeStyle = "blue";
  ctx.lineWidth = 1;
  ctx.stroke();
  change_pen_color('black');
  document.getElementById('font_bold_pt').innerText=ctx.lineWidth+"pt";
}

window.onload = function() {
  let ctx = document.getElementById('canvas').getContext('2d');
  
  canvas_init();

  let isDrag = false;
  function draw(x, y) {
    if (!isDrag) {
      return;
    }
    ctx.lineTo(x, y);
    ctx.stroke();
  }
  canvas.addEventListener("mousedown", () => {
	    ctx.globalAlpha = 0.5;
    ctx.beginPath();
    isDrag = true;
  });
  canvas.addEventListener("mouseup", () => {
    ctx.closePath();
    isDrag = false;
  });
  canvas.addEventListener("mousemove", event => {
    draw(event.layerX, event.layerY);
  });
}

function canvas_pen_thin() {
  let ctx = document.getElementById('canvas').getContext('2d');
  if(ctx.lineWidth > 1) {
    ctx.lineWidth = ctx.lineWidth - 1;
  }
  document.getElementById('font_bold_pt').innerText=ctx.lineWidth+"pt";
}
function canvas_pen_bold() {
  let ctx = document.getElementById('canvas').getContext('2d');
  if(ctx.lineWidth < 10) {
    ctx.lineWidth = ctx.lineWidth + 1;
  }
  document.getElementById('font_bold_pt').innerText=ctx.lineWidth+"pt";
}
/*]]>*/
</script>

<div th:replace="layout :: footer"></div>
</body>
</html>