<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="layout :: common_layout(title = '全学生成績一覧', scripts = ~{::script}, links = ~{::link})">

<script type="text/javascript"
	th:src="@{/webjars/chart.js/2.9.3/dist/Chart.js}" ></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script> -->
<style>
</style>
<style th:inline="css">
#ex_chart {max-width:100%;max-height:/*[[${gradeForm.canvasHeight}]]*/ 100%;}
</style>
</head>

<body>

<div th:replace="layout :: header"></div>


<canvas id="ex_chart" th:s></canvas>

<script th:inline="javascript">
var ctx = document.getElementById('ex_chart');

var data = {
    labels: /*[[${gradeForm.userIdList}]]*/ ["学生A", "学生B", "学生C", "学生D", "学生E"],
    datasets: [
    	{
        	label: '合計',
        	data: /*[[${gradeForm.gradeTotalList}]]*/ [880, 740, 900, 520, 930],
        	backgroundColor: 'rgba(255, 100, 100, 1)'
    	},{
        	label: 'テクノロジ',
        	data: /*[[${gradeForm.gradeTechnologyList}]]*/ [880, 740, 900, 520, 930],
        	backgroundColor: 'rgba(200, 100, 100, 0.3)'
    	},{
        	label: 'マネジメント',
        	data: /*[[${gradeForm.gradeManagementList}]]*/ [880, 740, 900, 520, 930],
        	backgroundColor: 'rgba(100, 200, 100, 0.3)'
    	},{
        	label: 'ストラテジ',
        	data: /*[[${gradeForm.gradeStrategyList}]]*/ [880, 740, 900, 520, 930],
        	backgroundColor: 'rgba(100, 100, 200, 0.3)'
    	}
    ],
    borderWidth: 0.1
};
var options = {
	    scales: {
	        xAxes: [{
	            ticks: {
	                min: 0,
	                stepSize: /*[[${gradeForm.xStepSize}]]*/ 1
	            }
	        }]
	    }
	};

	var ex_chart = new Chart(ctx, {
	    type: 'horizontalBar',
	    data: data,
	    options: options
	});
</script> 
<div th:replace="layout :: footer"></div>
  
</body>
</html>